@font-face {
  font-family: "MyriadPro-Regular";
  src: local("MyriadProRegular"), local("MyriadPro-Regular"), local("MyriadPro Regular"), url("/fonts/MyriadProRegular.woff");
}
html {
  color: #a3a2a2;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
main {
  margin-bottom: 8rem;
}
.page-wrapper {
  margin: 0 auto;
  max-width: 1600px;
}
#header-main {
  display: flex;
  flex-direction: column-reverse;
  padding: 5rem 1rem;
}
#header-main h1 {
  font-family: "MyriadPro-Regular";
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
}
#header-main h1 a {
  color: #484848;
  text-decoration: none;
}
#header-main h1 a span {
  color: #f36b47;
  text-transform: uppercase;
}
#header-main nav {
  bottom: 0;
  box-sizing: border-box;
  padding: 5%;
  position: fixed;
  right: 0;
  transition: 0.3s;
  top: 0;
  width: 0;
  z-index: 50;
}
#header-main nav ul {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
#header-main nav ul a {
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}
.hamburger-btn {
  color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 1.5rem;
  text-indent: -1500px;
  top: 1.5rem;
  width: 50px;
  z-index: 100;
}
.hamburger-btn .hamburger-item {
  background-color: #c44937;
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  text-indent: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 45px;
}
.hamburger-btn .hamburger-item::before,
.hamburger-btn .hamburger-item::after {
  content: "";
  background-color: #c44937;
  height: 5px;
  position: absolute;
  width: 45px;
}
.hamburger-btn .hamburger-item::before {
  bottom: 10px;
}
.hamburger-btn .hamburger-item::after {
  top: 10px;
}
#nav-button {
  left: -500px;
  position: absolute;
}
#nav-button:checked ~ nav {
  background-color: #f36b47;
  left: 0;
  width: 100%;
}
#nav-button:checked ~ nav ul {
  display: flex;
}
#nav-button:checked + .hamburger-btn {
  position: fixed;
}
#nav-button:checked + .hamburger-btn .hamburger-item {
  background-color: transparent;
}
#nav-button:checked + .hamburger-btn .hamburger-item::before,
#nav-button:checked + .hamburger-btn .hamburger-item::after {
  background-color: #fff;
}
#nav-button:checked + .hamburger-btn .hamburger-item::after {
  top: 0;
  transform: rotate(-45deg);
}
#nav-button:checked + .hamburger-btn .hamburger-item::before {
  bottom: 0;
  transform: rotate(45deg);
}
#about-us {
  border-bottom: 8px solid #c44937;
}
#about-us .slide-item .img-container {
  position: relative;
}
#about-us .slide-item .img-container .slide-msg {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
}
#about-us .slide-item .img-container .slide-msg h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
  padding: 0.4rem 2rem;
}
#about-us .slide-item .img-container .slide-msg h3:last-child {
  margin-bottom: 0;
}
#about-us .slide-item figcaption {
  background-color: #c44937;
  color: #fff;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}
#about-us .slide-item figcaption a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}
.description {
  font-size: 14px;
  padding: 2.5rem 1.5rem 2rem;
  text-align: center;
}
.description h2 {
  border-bottom: 2px solid #f36b47;
  color: #484848;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0.2rem;
}
.description p {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin-top: 1.8rem;
}
#services {
  border-bottom: 8px solid #c44937;
  padding: 3rem 1rem;
}
#services .services-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}
#services .services-wrapper li {
  margin: 0 auto 1rem;
}
#services .services-wrapper li article {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 350px;
  padding: 1rem 1rem 2rem;
}
#services .services-wrapper li article:last-child {
  margin-bottom: 0;
}
#services .services-wrapper li article .fas {
  color: #f36b47;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
#services .services-wrapper li article h3 {
  color: #484848;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
#services .services-wrapper li article p {
  font-size: 1.3rem;
}
#portfolio {
  padding: 3rem 1rem;
}
#portfolio .description {
  margin-bottom: 3rem;
}
.portfolio-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.portfolio-wrapper li {
  width: 100%;
}
.portfolio-wrapper li a {
  text-decoration: none;
}
.portfolio-wrapper li article {
  margin: 0 auto 4rem;
  max-width: 300px;
}
.portfolio-wrapper li article figure figcaption {
  background-color: #eee;
  padding: 0.3rem 0.8rem;
  text-align: center;
}
.portfolio-wrapper li article figure figcaption h3 {
  color: #f36b47;
  border-bottom: 2px solid #f36b47;
  font-size: 1.8rem;
  font-weight: 400;
}
.portfolio-wrapper li article figure figcaption p {
  color: #484848;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.3rem;
}
#contact-us {
  text-align: center;
}
#contact-us .contact-intro {
  background-color: #7a7a7a;
  color: #fff;
  padding: 5rem 1rem 4rem;
}
#contact-us .contact-intro h2 {
  font-size: 4.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
#contact-us .contact-intro h2 span {
  color: #f36b47;
}
#contact-us .contact-intro p {
  font-size: 1.8rem;
  font-weight: 400;
}
#contact-us .contact-main {
  padding: 3rem 1rem;
}
#contact-us .contact-main h2 {
  color: #484848;
  display: inline-block;
  border-bottom: 2px solid #f36b47;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 3.5rem;
}
#contact-us .contact-main p {
  font-size: 1.7rem;
}
#contact-us .map {
  height: 450px;
}
#contact-us .contact-details {
  padding: 3rem 1rem;
}
#contact-us .contact-details h2 {
  color: #484848;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 400;
  margin: 3rem auto 6rem;
  position: relative;
}
#contact-us .contact-details h2:after {
  border-bottom: 2px solid #f36b47;
  bottom: -5px;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 70%;
}
#contact-us .contact-details ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  max-width: 380px;
  text-align: left;
}
#contact-us .contact-details ul li {
  font-size: 2.1rem;
  font-weight: 300;
  padding: 1rem 0 1rem 80px ;
  position: relative;
}
#contact-us .contact-details ul li:before {
  color: #f36b47;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#contact-us .contact-details ul li:first-child:before {
  content: "\f879";
}
#contact-us .contact-details ul li:nth-child(2):before {
  content: "\f0e0";
}
#contact-us .contact-details ul li:last-child:before {
  content: "\f3c5";
}
#contact-us .contact-details ul li a {
  color: #a3a2a2;
  text-decoration: none;
}
#contact-us .contact-form {
  padding: 1rem 5% 4rem;
}
#contact-us .contact-form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
}
#contact-us .contact-form form label {
  color: transparent;
  position: absolute;
  left: -1500px;
}
#contact-us .contact-form form input,
#contact-us .contact-form form textarea {
  background-color: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 0.8rem;
  outline: none;
  padding: 1rem;
  transition: all 0.3s;
}
#contact-us .contact-form form input:focus,
#contact-us .contact-form form textarea:focus {
  background-color: transparent;
  border: 1px solid #f0f0f0;
}
#contact-us .contact-form form button[type="submit"] {
  background-color: #f36b47;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.3s;
  width: 70%;
}
#contact-us .contact-form form button[type="submit"]:hover {
  background-color: #f04417;
}
footer {
  background-color: #f36b47;
}
footer p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.7rem;
}
@media screen and (min-width: 764px) {
  main {
    margin-bottom: 6rem;
  }
  #header-main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
  }
  #header-main h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }
  #header-main nav {
    position: static;
    width: auto;
    padding: 0;
  }
  #header-main nav ul {
    display: flex;
    flex-direction: row;
  }
  #header-main nav ul li {
    text-transform: uppercase;
  }
  #header-main nav ul li a {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.1rem 1rem;
    position: relative;
  }
  #header-main nav ul li a::after,
  #header-main nav ul li a::before {
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s;
  }
  #header-main nav ul li a::after {
    border-bottom: 2px solid transparent;
    width: calc(100% - 2 * 1rem);
  }
  #header-main nav ul li a::before {
    border: 5px solid transparent;
    transform: translateY(100%) translateX(-50%);
  }
  #header-main nav ul li a:hover::after {
    border-bottom: 2px solid #f36b47;
  }
  #header-main nav ul li a:hover::before {
    border-top: 5px solid #f36b47;
  }
  .hamburger-btn {
    display: none;
  }
  #about-us {
    border-bottom: none;
  }
  #about-us .slide-item .img-container .slide-msg h3 {
    font-size: 1.5rem;
    padding: 1.1rem 5rem;
  }
  .description {
    padding: 2rem 13% 1rem;
  }
  .description h2 {
    border: none;
    position: relative;
  }
  .description h2:after {
    border-bottom: 2px solid #f36b47;
    bottom: 0;
    left: 50%;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    width: 85%;
  }
  #services {
    border: none;
    padding: 2rem 13% 1rem;
  }
  #services .services-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3rem;
    width: 100%;
  }
  #services .services-wrapper li {
    flex-basis: 36%;
    margin: 0 0 3rem;
  }
  #services .services-wrapper li article {
    padding: 1rem 0;
  }
  #services .services-wrapper li article h3 {
    font-size: 1.4rem;
  }
  #services .services-wrapper li article p {
    font-size: 1.1rem;
    text-align: left;
  }
  #portfolio {
    padding: 2rem 13% 1rem;
  }
  .portfolio-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .portfolio-wrapper li {
    flex-basis: 42%;
    margin: 0;
  }
  .portfolio-wrapper li article figure figcaption h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .portfolio-wrapper li article figure figcaption p {
    font-size: 0.85rem;
  }
  #contact-us .contact-intro {
    padding: 5rem 13%;
  }
  #contact-us .contact-intro h2 {
    font-size: 4rem;
  }
  #contact-us .contact-intro p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5em;
  }
  #contact-us .contact-main {
    padding: 4rem 13% 1rem;
  }
  #contact-us .contact-main h2 {
    border: none;
    font-size: 3rem;
    position: relative;
  }
  #contact-us .contact-main h2:after {
    border-bottom: 2px solid #f36b47;
    bottom: 0;
    left: 50%;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    width: 85%;
  }
  #contact-us .contact-main p {
    font-size: 1.1rem;
    line-height: 1.5em;
  }
  #contact-us .map {
    padding: 1rem 13%;
  }
  #contact-us .contact-details {
    padding: 2rem 13% 3rem;
  }
  #contact-us .contact-details h2 {
    font-size: 3rem;
    margin: 3rem auto;
  }
  #contact-us .contact-details h2:after {
    border-bottom: none;
  }
  #contact-us .contact-details ul {
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
  }
  #contact-us .contact-details ul li {
    font-size: 1.4rem;
    flex-basis: 35%;
  }
  #contact-us .contact-details ul li:last-child {
    order: -1;
    flex-basis: 50%;
    margin: auto;
  }
  #contact-us .contact-form {
    padding: 1rem 13%;
  }
  #contact-us .contact-form form {
    max-width: 100%;
  }
  #contact-us .contact-form form button[type="submit"] {
    margin: 1.8rem auto;
  }
}
@media screen and (min-width: 1340px) {
  #header-main {
    padding: 2rem 6%;
  }
  #about-us .slide-item .img-container .slide-msg h3 {
    font-size: 2rem;
  }
  .description {
    padding: 3rem 6% 2rem;
  }
  .description h2 {
    font-size: 2rem;
  }
  #services {
    padding: 2rem 6% 1rem;
  }
  #services .services-wrapper {
    margin: 0;
  }
  #services .services-wrapper li {
    flex-basis: 22%;
    margin: 0;
  }
  #portfolio {
    padding: 1rem 6% 1rem;
  }
  .portfolio-wrapper li {
    flex-basis: 22%;
  }
  .portfolio-wrapper li article figure figcaption {
    text-align: right;
  }
  #contact-us .contact-intro {
    padding: 5rem 6%;
  }
  #contact-us .contact-main {
    padding: 4rem 6% 1rem;
  }
  #contact-us .contact-block {
    padding: 3rem 6%;
    display: flex;
    flex-direction: row;
  }
  #contact-us .contact-block .map {
    flex: 1 0 45%;
    height: auto;
    padding: 0;
  }
  #contact-us .contact-block .contact-details-block {
    flex: 1 0 45%;
  }
  #contact-us .contact-block .contact-details-block .contact-details {
    padding: 0 0 0 3rem;
    text-align: left;
  }
  #contact-us .contact-block .contact-details-block .contact-details h2 {
    font-size: 2rem;
    margin: 0 auto 1rem;
  }
  #contact-us .contact-block .contact-details-block .contact-details ul {
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 2rem;
    max-width: 60%;
  }
  #contact-us .contact-block .contact-details-block .contact-details ul li {
    padding-left: 60px;
  }
  #contact-us .contact-block .contact-details-block .contact-details ul li:last-child {
    order: 0;
    margin: 0;
  }
  #contact-us .contact-block .contact-details-block .contact-form {
    padding: 0 0 0 3rem;
  }
  #contact-us .contact-block .contact-details-block .contact-form form input:not([type="submit"]) {
    max-width: 60%;
  }
  #contact-us .contact-block .contact-details-block .contact-form form button[type="submit"] {
    margin: 0.5rem 0 0;
    width: 30%;
  }
}
/*# sourceMappingURL=responsive-styles.css.map */